@import "bourbon/bourbon";
@import "neat/neat";
@import "partials/variables";
@import "partials/mixins";
/* @import "partials/prism"; */

@import url('http://fonts.googleapis.com/css?family=Playfair+Display:900,900italic');
@import url('http://fonts.googleapis.com/css?family=Fjord+One');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	@include anti;
}


p {
	@include fjord;
	font-size: 1.25rem;
	max-width: 33rem;
	margin: 1rem auto 0;
	max-width: 40rem;
	color: #333;
}	

a {
	color: $burntorange;
	text-decoration: none;
	&:hover {color: $yellow;}
	
}

.hero {
	@include linear-gradient(to top, $liteorange, $orange);
	padding: 1.5rem;
	text-align: center;
	
	img {display: block; margin: 0 auto;}
	
	h1 {@include play(italic, 8.5rem); color: $yellow;}
}
.container {
	@include outer-container;

}
.main {
	@include linear-gradient(to top, $orange, $burntorange);
	color: $offwhite;
	padding: 1.5rem;
	h2{
		@include play(normal, 5rem);
	}
	p{
		margin-left: 0;
		margin-right: 0;
		color: white;
		&:first-of-type {@include play(italic, 2.5rem);}
		&:last-of-type {@include play(italic, 1.875rem);}
	}
	h3 {
		@include fjord(/* normal, 3rem */);
		color: $offwhite;
		letter-spacing: 5px;
		text: {align: center; transform: uppercase;}
	}
	article {
		@include span-columns(9);
	}
	aside {
		@include span-columns(3);
	}
}

.main2 {
	padding: 1.5rem;
	background: $offwhite;
	color: $burntorange;
	h2 {@include play(italic, 5rem); text-align: center;}
}

.main3 {
	background: $offwhite;
	padding: 1rem;
	h2 {
		@include play(italic, 7rem);
		line-height: 1.125;
		margin: 0 0 .5rem 0;
		text-align: center;
		color: $burntorange;
	}
	p {
		max-width: 40rem;
	}
		img {
		display: block;
		opacity: .4;
		margin: 0 auto;
		max-width: 15%;
		height: auto;
	}
}